.red {
	height: 600px;
    
background-color: red;
}
.blue {
	height: 100px;
	background-color: blue;
}
.green{
    height: 300px;
     font-weight: 100px;
background-color: aqua;
}
/* .gradient {  */
	/* background:linear-gradient(#56C500, #fff);  */
	/* height: 5000px; */
	/* border: 1px solid #333; */
/* } */